<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <title><%= 'TrevorClarkeP2' %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />


</head>
<body link = >
<% if(typeof firstname !== "undefined") { %>
Welcome, <%= firstname %>
<% } %>

<span class = rainbow>
<h2><span class = rainbow><%= 'CS 355: Database Management Systems' %></span></h2>
<h2><span class = rainbow>Fool-Stack Inventory Tracking Tool</span></h2>
<span class="rainbow"><em> By Trevor Clarke </em>
</span>
<br />