<% include partials/header %>

<h2><span class = rainbow>Home Page!</span></h2>
<a href="aboutMe.html"><em> About Me!</em></a>
<br />
<h3><span class = rainbow>Project 2 Links: </span></h3>

<a href="/item/all"><em>All Inventory Items & Create</em></a>
<br />
<a href="/item/allbyproducts"><em>All ByProduct Items: Edit & Create!</em></a>
<br />


<% include partials/footer%>