<% include ../partials/header %>
<br /><br />
<a href="/transaction/newitemsale"><em>Enter new transaction: Inventory Item!</em></a>
<br /><br />
<a href="/transaction/newbyproductsale"><em>Enter new transaction: Inventory ByProduct!</em></a>
<br /><br /> <br />
<a href="/transaction/allitemsales"><em>Back to all item transactions</em></a>
<br /> <br />
<a href="/transaction/allbyproductsales"><em>Back to all ByProduct transactions</em></a>
<br /> <br /><br /> <br />
<% include ../partials/footer %>